<section class="about" id="nosotros">
  <div class="about-container">
    <div class="about-image">
      <img src="https://media.istockphoto.com/id/1346125184/es/foto/grupo-de-exitoso-equipo-empresarial-multi%C3%A9tnico.jpg?s=612x612&w=0&k=20&c=kdEKN1Pb99EVoEZEz6c4IGr1k9pooeCskSUZRccInko=" alt="Equipo de Baires Essence">
    </div>
    <div class="about-text">
      <h2>Nosotros</h2>
      <p>En <strong>Baires Essence</strong> somos un equipo apasionado por mostrar lo mejor de Buenos
        Aires.
        Con años de experiencia en turismo, diseñamos experiencias a medida: desde traslados VIP en
        aeropuertos
        hasta inolvidables city-tours y estancias en la provincia. ¡Te acompañamos en cada paso de tu
        viaje! </p>
    </div>
  </div>
</section>