<header> 
  <div class="container">
    <nav aria-label="Navegación Principal">
      <ul class="navbar">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="pages/reservas.html" id="mis-reservas-link">Mis Reservas</a></li> 
        <li><button id="login-btn">Iniciar con Google</button></li>
        <li><button id="logout-btn" class="hidden">Cerrar sesión</button></li>                 
      </ul>
    </nav>
  </div>
</header>
